<div class="m-3">
  <h1><%= @restaurant.name %></h1>
</div>
<div class="ms-3">
  <p> Cuisine: <%= @restaurant.category.capitalize %></p>
  <p> Address: <%= @restaurant.address %></p>
  <p><%= link_to "⬅ Back to restaurants list", restaurants_path %></p>
  <div>
    <div class="title-w-button">
      <h2>Reviews</h2>
    </div>
    <div>
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li><%= "⭐️" * review.rating %><br><%= review.content %></li><br>
        <% end %>
      </ul>
    </div>
    <div class="m-3">
      <h3>Add a new review for <%= @restaurant.name %></h1>
    </div>
    <div class="p-3">
      <%= render "review_form", review: @review %>
    </div>
</div>
